container {
    display:inline-block;
}


.card{
    border-radius: 5px;
    height: 145px;
    margin: 1rem;
    position: relative;
    width: 175px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align:center;
}

img-responsive {
    width: 80%;
    margin-left: 20px;
    padding-top:8px;
}
